<div>
    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <h1>&nbsp;&nbsp;&nbsp;&nbsp;MRMedia</h1>
                </div>
                <div class="col-md-4">
                    <ul id="navigation" class="nav nav-pills">
                        <li class="selected">
                            <a href="#/home">首页</a>
                        </li>
                        <li>
                            <a href="#/login">网红直播</a>

                        </li>
                        <li>
                            <a href="#/signup">推广业务</a>

                        </li>
                        <li>
                            <a href="contact.html">网站设计</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="level-fix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 level-nopadding">
                <image src="img/join.jpg"></image>
                <div style="position:absolute;width:100%;height:100%;z-indent:2;left:20%;top:60%;">
                    <a href="#/login"><image src="img/add.png"></image></a>
                </div>
            </div>
            <div class="level-nopadding col-xs-6">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
                    <!--Carousel指标 -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Carousel项目 -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="img/slide-1.jpg" alt="First slide">

                        </div>
                        <div class="item">
                            <img src="img/slide-2.jpg" alt="Second slide">

                        </div>
                        <div class="item">
                            <img src="img/slide-3.jpg" alt="Third slide">

                        </div>
                    </div>
                    <!-- Carousel导航 -->
                    <a class="carousel-control left" href="#myCarousel"
                       data-slide="prev">&lsaquo;
                    </a>
                    <a class="carousel-control right" href="#myCarousel"
                       data-slide="next">&rsaquo;
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="level level-hero hero-home has-hint">-->
    <!--<div class="hero-overlay visible-lg"></div>-->

    <!--<video loop id=bg-video class=fullscreen-video>-->
        <!--<source src="http://alvarez.is/bt/appi.webm" type="video/webm">-->
        <!--<source src="http://alvarez.is/bt/appi.mp4" type="video/mp4">-->

    <!--</video>-->

    <!--<div class="container full-height">-->
        <!--<div class=v-align-parent>-->
            <!--<div class=v-center>-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-10 col-sm-6">-->
                        <!--<h1 class="mb-10 heading">Your App. <span>Reinvented.</span></h1>-->
                        <!--<div class="subheading mb-20">Lorem Ipsum is simply dummy text of the <br class=hidden-xs>printing and typesetting industry. </div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<a class="btn btn-prepend btn-launch-video" href="#">-->
                        <!--<i class="prepended icon-append-play"></i>Watch Video-->
                    <!--</a>-->
                    <!--<a class="btn btn-prepend" href="#">-->
                        <!--<i class="prepended icon-append-iphone"></i>Learn More-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class=hint-arrow></div>-->
    <!--</div>-->
<!--</div>-->
<div class=level>

    <div class="container mb-100 xs-mb-40">
        <div class=row>
            <div class="col-sm-5 col-md-4 col-md-offset-2 col-sm-offset-1">
                <h1 class="mb-10 xs-mb-10 heading color-dark heading-bordered">业务<br class=hidden-xs>&nbsp;&nbsp;&nbsp;分布</h1>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <h2 class="w-300 color-dark mb-10 xs-mb-10">Business</h2>
            </div>
        </div>
    </div>

    <!--<img src="img/v2/iphone6.min.png" alt class="mb-80 hidden-xs iphone-inline">-->



    <div class=container>
        <div class="row mb-90 xs-mb-0">

            <div class="col-sm-1 col-sm-offset-2">
                <i class="icon icon-check"></i>
            </div>
            <div class="col-sm-3">
                <h3 class="mb-15">网红主播经纪</h3>
                <p class="smaller xs-mb-40 xs-mw">网红主播生产内容，用户通过免费观看、付费购买虚拟礼物、虚拟道具的形式进行消费，产生收益.
            </div>

            <div class="col-sm-1">
                <i class="icon icon-calendar"></i>
            </div>
            <div class="col-sm-3">
                <h3 class="mb-15">网红艺人包装</h3>
                <p class="smaller xs-mb-40 xs-mw">挖掘有个性的艺人，通过互联网进行全面的营销.从而产生医学会副i哦啊是否哈额外费拉未婚夫。
            </div>

        </div>

        <div class=row>

            <div class="col-sm-1 col-sm-offset-2">
                <i class="icon icon-user"></i>
            </div>
            <div class="col-sm-3">
                <h3 class="mb-15">网站设计 博士</h3>
                <p class="smaller xs-mb-40 xs-mw">谭博士亲自作为arch，对网站严格把关，非常的骚.
            </div>

            <div class="col-sm-1">
                <i class="icon icon-clock"></i>
            </div>
            <div class="col-sm-3">
                <h3 class="mb-15">流量电商推广</h3>
                <p class="smaller xs-mb-40 xs-mw">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            </div>

        </div>
    </div>
</div>
<!--<image src="img/work-bg.png" width="100%"></image>-->
<div class="work">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="work-title">
                    <image src="img/work-title.png"/>
                </div>
                <div class="work-text work-title">
                    <h2 style="	color: rgb(155, 155, 155);font-size: 24px;">
                        三块地建房格拉斯丢给分开us的
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="level level-img-right">

    <div class="container xs-mb-30">
        <img class=img-right-sprite src="img/v2/iphone-bg-lg.min.png" alt>
        <div class="row mb-60 xs-mb-20">
            <div class="col-sm-6 col-lg-offset-1 col-lg-5">
                <h1 class="mb-20 xs-mb-10 heading color-dark heading-bordered xl-heading-outdent">Details</h1>
                <h2 class="w-300 color-dark mb-10">All what you want in your phone</h2>
                <p class=xs-mw>Now with Appi you have it on your fingertips.
            </div>
        </div>

        <div class="visible-xs xs-mw xs-mb-40">
            <img src="img/v2/iphone-mobile.min.png" alt>
        </div>

        <div class="row mb-60 xs-mb-20">
            <div class="col-sm-1 col-lg-offset-1">
                <i class="icon icon-globe"></i>
            </div>
            <div class="col-sm-4 col-md-3">
                <h3 class="mb-15">Worldwide</h3>
                <p class="smaller xs-mw">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            </div>
        </div>

        <div class="row mb-60 xs-mb-20">
            <div class="col-sm-1 col-lg-offset-1">
                <i class="icon icon-eye"></i>
            </div>
            <div class="col-sm-4 col-md-3">
                <h3 class="mb-15">Privacy</h3>
                <p class="smaller xs-mw">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-lg-offset-1">
                <i class="icon icon-bubble"></i>
            </div>
            <div class="col-sm-4 col-md-3">
                <h3 class="mb-15">Social Integration</h3>
                <p class="smaller xs-mw">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            </div>
        </div>
    </div>

</div>

<div class="level level-outro text-center">
    <div class=container>

        <form class=contact method=get action="/" accept-charset="UTF-8">

            <div class="h2 mb-20">Available on the <br class=visible-xs-block> App Store</div>
            <p class="mb-35">Enter your phone number and we’ll send a link to your iPhone

            <div class="btn-append dropdown-prepend">

                <div class=dropdown>
                    <button class="btn btn-default dropdown-toggle" type="button" id="f1" data-toggle="dropdown" aria-expanded="true">
                        <span id=option-value-f1>US (+1)</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" data-displaytarget="#option-value-f1" data-inputtarget=".f1-target" role="menu" aria-labelledby="f1">
                        <li role="presentation" data-placeholder="US ( +1)" data-value="1" class=disabled>US ( +1)</li>
                    </ul>
                </div>

                <!-- actual select here -->
                <select name="country-code" class="sr-only f1-target countryCode">
                    <option selected value="1">US (+1)</option>
                </select>

                <input type=tel class="text phoneNumber" name="tel" placeholder="Phone number" required>

                <input type=submit class="submit appended" value=submit>

            </div>

        </form>
    </div>


</div>
<div class="footer text-center">
    <p class="fmenu">
        <a href="#/home">HOME</a> | <a href="#/login">ABOUT</a>
    </p>

</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

<script src="js/dropdown.js"></script>
<script src="js/modal.js"></script>
<script src="js/main.js"></script>
<!-- //-end- concat_js -->
